@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define scrollbar styles */

  
  ::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* Color of the thumb (the draggable part) */
    border-radius: 6px; /* Rounded corners for the thumb */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #000000; /* Color of the track (the background) */
  }

  *{
    font-size:97%;
  }

  #crisp-chatbox > div > a{
    width: 20px;
    height: 20px;
  }

  


  /* Shimmer Effect CSS */
.shimmer-wrapper {
  position: relative;
  overflow: hidden;
  background: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
  background-size: 800px 104px;
  animation: loading 1.2s infinite;
}

@keyframes loading {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}

.shimmer-card {
  height: 100px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* Shimmer Effect CSS */
@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.shimmer {
  background: linear-gradient(to right, #f6f7f8 0%, #edeef1 20%, #f6f7f8 40%, #f6f7f8 100%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

.shimmer-dark {
  background: linear-gradient(to right, #2d3748 0%, #4a5568 20%, #2d3748 40%, #2d3748 100%);
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
}

.book-container {
  min-height: auto; /* Adjust this value according to your design */
}

  