@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define scrollbar styles */
::-webkit-scrollbar {
    width: 0px; /* Width of the scrollbar */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ffffff; /* Color of the thumb (the draggable part) */
    border-radius: 6px; /* Rounded corners for the thumb */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #000000; /* Color of the track (the background) */
  }

  *{
    font-size:97%;
  }

  #crisp-chatbox > div > a{
    width: 20px;
    height: 20px;
  }


  